.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* .explore_beats_background{
  padding: 5vh 0vw;
  margin: auto;
  width:100%;
  height: 100%;
  background-image: 
  url('./photos/space-backround-picture.gif');
  background-attachment: fixed;
  background-position: center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  color: white;
} */
.home_background{
  padding: 5vh 0vw;
  margin: auto;
  width:100%;
  height: 100%;
  background-image: 
  url('./photos/cool-background.gif');
  background-attachment: fixed;
  background-position: center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  color: white;
}
  
.main_paper_background{
  background: rgb(251,0,154);
  background: radial-gradient(circle, rgba(251,0,154,1) 0%, rgba(153,0,74,1) 100%);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
