@media only screen and (min-width: 1280px) {
    /* For desktops: */

    .mainBox{
      width: 20vw
  }
    
    
  }

 @media only screen and (max-width: 1279px) {
    /* For for laptops and tabletss: */

   
    .mainBox{
      width: 30vw
  }
    
  }

  
  @media only screen and (max-width: 769px) {
    /* Forbigger mobile phones and small tablets: */
    
 
    .mainBox{
      width: 70vw
  }
    
  }
  
  @media only screen and (max-width: 480px) {
    /* For mobile phones: */

    .mainBox{
        width: 70vw
    }

    
   
    
  }