.searchToggle{
    display: flex;
    justify-content: center;
}

.centerSearchDiv{

    display: flex;
    justify-content: center;
}



@media only screen and (min-width: 1280px) {
    /* For desktops: */
    .mainSearchDiv{
        height: 500px;
    position:relative;
    overflow-x: auto;
    }
    
    
    
  }

 @media only screen and (max-width: 1279px) {
    /* For for laptops and tabletss: */

    .mainSearchDiv{
        height: 500px;
    position:relative;
    overflow-x: auto;
    }
   
    
  }

  
  @media only screen and (max-width: 769px) {
    /* Forbigger mobile phones and small tablets: */
    .mainSearchDiv{
        height: 500px;
    position:relative;
    overflow-x: auto;
    }
 
   
    
  }
  
  @media only screen and (max-width: 480px) {
    /* For mobile phones: */

    .mainSearchDiv{
        height: 500px;
    position:relative;
    overflow-x: auto;
    }
}