.searchToggle{
    display: flex;
    justify-content: center;
}



@media only screen and (min-width: 1280px) {
    /* For desktops: */
    .audioPlayer{
        position: absolute;
        right: 37%;
        left: 37%;
        
    }
    
    
    
  }

 @media only screen and (max-width: 1279px) {
    /* For for laptops and tabletss: */

    .audioPlayer{
        position: fixed;
        right: 15%;
        left: 15%;
        bottom: 20px;
        
    }
   
    
  }

  
  @media only screen and (max-width: 769px) {
    /* Forbigger mobile phones and small tablets: */
    .audioPlayer{
        position: fixed;
        right: 10%;
        left: 10%;
        bottom: 20px;
        opacity: .9;
        
    }
 
   
    
  }
  
  @media only screen and (max-width: 480px) {
    /* For mobile phones: */

    .mainSearchDiv{
        height: 500px;
    position:relative;
    overflow-x: auto;
    }
}